body{
 background-color: #C800FF;

 width: auto;

}

header{
  background-color: #BEBEC1;
  ;
  width: auto;

}
nav{
  background-color: #B991CD;
  height: 50px;
  width: auto;
 position: absolute;
}

section{
  background-color:#9D638E;
  h
  width: auto;
}

aside{
  background-color:#a999be;

  width: auto;

}
