body{
 background-color: #C800FF;

 width: auto;

}

header{
  background-color: #BEBEC1;

  width: auto;

}
nav{
  background-color: #B991CD;
  height: 50px;
  width: auto;
 position: absolute;
}

section{
  background-color:#9D638E;
  border: 10px solid;
  width: auto;
}

aside{
  background-color:#a999be;

  width: auto;

}
ul{
  list-style-type: none;
}
article{
  width: 48%;
  display: inline-block;
  text-align: justify;
}
p{
  padding: 10px;
}
img{
  border-radius: 10px;
}
.seccion1{
  text-align: center;
}
.imagen-seccion img{
  margin-left: 20%

}

.seccion2{
  text-align: center;
}
.imagen-seccion img{
  margin-left: 20%

}
img{
  border-radius: 10px
}
article{
  width: 48%
}
